<div class="grid">
  <p-panel class="col-12 xl:col-4 lg:col-4 md:col-6 sm:col-12">
    <ng-template pTemplate="header">
      <div class="flex align-items-center gap-2">
        <span class="font-bold">{{ authService.system }}</span>
      </div>
    </ng-template>

    <ng-template pTemplate="content">
      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="p-fluid grid">
        <div class="field col-12 text-center">
          <h2>Seleccione un Rol</h2>
        </div>

        <div class="field col-12">
          <label for="role" appLabel [label]="LoginFormEnum.roleSelect" [required]="roleField"></label>
          <p-dropdown id="role"
                      formControlName="role"
                      dataKey="id"
                      [options]="roles"
                      optionLabel="name"
                      [filter]="true"
                      filterBy="name"
                      placeholder="Seleccione...">
          </p-dropdown>
          <small appErrorMessage
                 [errors]="roleField.errors"
                 [touched]="roleField.touched"
                 [dirty]="roleField.dirty">
          </small>
        </div>

        <div class="field col-12">
          <button pButton pRipple
                  label="Continuar"
                  [icon]="PrimeIcons.SIGN_IN"></button>
        </div>
      </form>
    </ng-template>

    <ng-template pTemplate="footer">
      <div class="flex flex-wrap align-items-center justify-content-between gap-3">
        <button pButton pRipple
                type="button"
                class="p-button-secondary p-button-raised w-full"
                [icon]="PrimeIcons.ARROW_LEFT"
                label="Regresar al Login"
                (click)="redirectLogin()"></button>
      </div>
    </ng-template>
  </p-panel>
</div>
