<div class="grid">
  <p-panel class="col-12 xl:col-4 lg:col-4 md:col-6 sm:col-12">
    <ng-template pTemplate="header">
      <div class="flex align-items-center gap-2">
        <span class="font-bold">{{ authService.system }}</span>
      </div>
    </ng-template>

    <ng-template pTemplate="content">
      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="p-fluid grid">
        <div class="field col-12 text-center">
          <h2>Ingreso al Sistema</h2>
        </div>

        <div class="field col-12">
          <label for="username" appLabel [label]="LoginFormEnum.username" [required]="usernameField"></label>
          <input pInputText id="username" formControlName="username">
          <small appErrorMessage
                 [errors]="usernameField.errors"
                 [touched]="usernameField.touched"
                 [dirty]="usernameField.dirty">
          </small>
        </div>

        <div class="field col-12">
          <label for="password" appLabel [label]="LoginFormEnum.password" [required]="passwordField"></label>
          <p-password id="password" formControlName="password" [feedback]="false"></p-password>
          <small appErrorMessage
                 [errors]="passwordField.errors"
                 [touched]="passwordField.touched"
                 [dirty]="passwordField.dirty">
          </small>
        </div>

        @if (coreService.isLoading) {
          <div class="field col-12">
            <app-progress-bar [message]="messageService.progressBarLogin"></app-progress-bar>
          </div>
        }

        <div class="field col-12">
          <button pButton pRipple
                  label="Continuar"
                  [icon]="PrimeIcons.SIGN_IN"></button>
        </div>
      </form>
    </ng-template>

    <ng-template pTemplate="footer">
      <div class="flex flex-wrap align-items-center justify-content-between gap-3">
        <button pButton pRipple
                type="button"
                class="w-full p-button-info"
                [icon]="PrimeIcons.KEY"
                label="Recuperar Contraseña"
                (click)="redirectPasswordReset()"></button>

        <button pButton pRipple
                type="button"
                class="w-full p-button-success"
                [icon]="PrimeIcons.PLUS"
                label="Crear Cuenta"
                (click)="redirectRegistration()"></button>
      </div>
    </ng-template>
  </p-panel>
</div>
