<div class="grid">
    <div class="col-12 xl:col-8 lg:col-8 md:col-10 sm:col-12 xl:col-offset-2 lg:col-offset-2 md:col-offset-1">
      @if (coreService.isLoading) {
        <app-skeleton [type]="SkeletonEnum.CARD"></app-skeleton>
      }
  
      @if (!coreService.isLoading) {
        <p-toolbar>
          <div class="p-toolbar-group-left">
            <app-header-form [id]="id"></app-header-form>
          </div>
          <div class="p-toolbar-group-right">
            <app-form-button-action (submit)="onSubmit()" (cancel)="redirectRegistration()"></app-form-button-action>
          </div>
        </p-toolbar>

   <p-panel>
     <form [formGroup]="form" class="p-fluid grid">

       <!-- Tipo -->
       <div class="field col-12 xl:col-6 lg:col-6 md:col-6 sm:col-12">
         <label appLabel for="typeId"
                [label]="skillFormEnum.typeId"
                [required]="typeIdField"></label>
         <input pInputText type="text" id="typeId" formControlName="typeId"/>
         <small appErrorMessage
                [errors]="typeIdField.errors"
                [touched]="typeIdField.touched"
                [dirty]="typeIdField.dirty"></small>
       </div>

       <!-- Descripcion -->
       <div class="field col-12 xl:col-6 lg:col-6 md:col-6 sm:col-12">
         <label appLabel for="description"
                [label]="skillFormEnum.description"
                [required]="descriptionField"></label>
                <input pInputText type="text" id="description" formControlName="description"/>
         <small appErrorMessage
                [errors]="descriptionField.errors"
                [touched]="descriptionField.touched"
                [dirty]="descriptionField.dirty"></small>
               </div>
             </form>
           </p-panel>
         }
          </div>
     </div>
