<div class="grid">
  <p-button
    [icon]="IconButtonActionEnum.CANCEL"
    [label]="LabelButtonActionEnum.CANCEL"
    [loading]="coreService.isLoading"
    [severity]="SeverityButtonActionEnum.CANCEL"
    (click)="cancel.emit()">
  </p-button>

  <p-divider layout="vertical"></p-divider>

  <p-button
    [icon]="IconButtonActionEnum.SAVE"
    [label]="LabelButtonActionEnum.SAVE"
    [loading]="coreService.isLoading"
    [severity]="SeverityButtonActionEnum.SAVE"
    (click)="submit.emit()">
  </p-button>
</div>
