<div class="grid">
  <div class="col-12 xl:col-8 lg:col-8 md:col-10 sm:col-12 xl:col-offset-2 lg:col-offset-2 md:col-offset-1">
    @if (coreService.isLoading) {
      <app-skeleton [type]="SkeletonEnum.CARD"></app-skeleton>
    }

    @if (!coreService.isLoading) {
      <p-toolbar>
        <div class="p-toolbar-group-left">
          <app-header-form [id]="id"></app-header-form>
        </div>
        <div class="p-toolbar-group-right">
          <app-form-button-action (submit)="onSubmit()" (cancel)="redirectRegistration()"></app-form-button-action>
        </div>
      </p-toolbar>

      <p-panel>
        <form [formGroup]="form" class="p-fluid grid">
          <!-- tradeName -->
          <div class="field col-12 xl:col-6 lg:col-6 md:col-6 sm:col-12">
            <label appLabel for="tradeName"
                   [label]="CompanyRegistrationFormEnum.tradeName"
                   [required]="tradeNameField"></label>
            <app-form-help-field title="TradeName" content="Esto es un mensaje de prueba"></app-form-help-field>
            <input pInputText type="text" id="tradeName" formControlName="tradeName"/>
            <small appErrorMessage
                   [errors]="tradeNameField.errors"
                   [touched]="tradeNameField.touched"
                   [dirty]="tradeNameField.dirty">
            </small>
          </div>

          <!-- web -->
          <div class="field col-12 xl:col-3 lg:col-3 md:col-3 sm:col-12">
            <label appLabel for="web" [label]="CompanyRegistrationFormEnum.web" [required]="webField"></label>
            <app-form-help-field title="web" [content]="['Esto es un listado 1','Esto es un listado 2','Esto es un listado 3']"></app-form-help-field>
            <input pInputText type="text" id="web" formControlName="web"/>
            <small appErrorMessage
                   [errors]="webField.errors"
                   [touched]="webField.touched"
                   [dirty]="webField.dirty">
            </small>
          </div>

          <!-- personTypeId -->
          <div class="field col-12 xl:col-3 lg:col-3 md:col-3 sm:col-12">
            <label appLabel for="personTypeId"
                   [label]="CompanyRegistrationFormEnum.personType"
                   [required]="personTypeIdField"></label>
            <p-dropdown
              id="personTypeId"
              [options]="personTypes"
              formControlName="personTypeId"
              optionLabel="name"
              optionValue="id"
              [filter]="true"
              filterBy="name"
              placeholder="Seleccione">
              <ng-template pTemplate="selectedItem" let-selectedOption>
                <div class="flex align-items-center gap-2">
                  <div>{{ selectedOption.name }}</div>
                </div>
              </ng-template>
              <ng-template let-item pTemplate="item">
                <div class="flex align-items-center gap-2">
                  <div>{{ item.name }}</div>
                </div>
              </ng-template>
            </p-dropdown>
            <small appErrorMessage
                   [errors]="personTypeIdField.errors"
                   [touched]="personTypeIdField.touched"
                   [dirty]="personTypeIdField.dirty">
            </small>
          </div>
        </form>
      </p-panel>
    }
  </div>
</div>
