<p-dialog
  [modal]="true"
  [(visible)]="messageDialogService.modalConfirmVisible"
  [style]="{ width: '30rem' }"
  [closable]="false">
  <ng-template pTemplate="header">
    {{ messageDialogService.modalTitle }}
  </ng-template>

  <ng-template pTemplate="content">
    <div class="text-center">
      <i [ngClass]="[PrimeIcons.TRASH]" style="font-size: 3rem; color: red"></i>
      <h2>{{ messageDialogService.modalMessage }}</h2>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <div class="flex justify-content-center gap-2">
      <p-button label="Sí"
                [severity]="messageDialogService.modalAcceptSeverity"
                (click)="accept()"/>
      <p-button label="No" [severity]="messageDialogService.modalRejectSeverity"
                (click)="reject()"/>
    </div>
  </ng-template>
</p-dialog>

<p-toast key="messageConfirm"/>
