<p-dialog [modal]="true"
          [(visible)]="messageDialogService.modalConfirmVisible"
          [style]="{ width: '30rem' }"
          [closable]="false">
  <ng-template pTemplate="header">
    Menasje de Confirmación
  </ng-template>

  <ng-template pTemplate="content">
    <h3 class="text-center">{{ messageDialogService.modalTitle }}</h3>

    <p-divider></p-divider>

    <p>{{ messageDialogService.modalMessage }}</p>

  </ng-template>

  <ng-template pTemplate="footer">
    <div class="flex justify-content-center gap-2">
      <p-button label="Sí" [severity]="messageDialogService.modalAcceptSeverity"
                (click)="messageDialogService.modalVisible=false; messageDialogService.modalResult=true"/>
      <p-button label="No" [severity]="messageDialogService.modalRejectSeverity"
                (click)="messageDialogService.modalVisible=false; messageDialogService.modalResult=false"/>
    </div>
  </ng-template>
</p-dialog>
