<p-dialog
  [modal]="true"
  [(visible)]="messageDialogService.modalConfirmVisible"
  [style]="{ width: '30rem' }"
  [closable]="false">
  <ng-template pTemplate="header">

    {{ messageDialogService.modalConfirmVisible }}
    {{ messageDialogService.modalTitle }}
  </ng-template>

  <ng-template pTemplate="content">
    <div class="text-center">
      <i [ngClass]="[messageDialogService.modalIcon]"
         style="font-size: 3rem; color: {{messageDialogService.modalIconColor}}"></i>
      <h2>{{ messageDialogService.modalMessage }}</h2>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <div class="p-fluid flex justify-content-center gap-2">
      <p-button label="Sí"
                size="large"
                [severity]="messageDialogService.modalAcceptSeverity"
                (click)="accept()"/>

      <p-button label="No"
                size="large"
                [severity]="messageDialogService.modalRejectSeverity"
                (click)="reject()"/>
    </div>
  </ng-template>
</p-dialog>

<p-toast key="messageConfirm"/>
