<div class="grid mt-8">
  <p-panel class="col-12 xl:col-4 lg:col-4 md:col-4 sm:col-12 xl:col-offset-1 lg:col-offset-1 md:col-offset-1">
    <ng-template pTemplate="header">
      <div class="flex align-items-center gap-2">
        <span class="font-bold">{{ authService.system }}</span>
      </div>
    </ng-template>

    <ng-template pTemplate="content">
      <div class="field col-12 text-center">
        <h2>Crear Cuenta</h2>
      </div>

      <div class="field col-12 text-center">
        <button pButton pRipple
                type="button"
                class="p-button-help p-button-lg p-button-raised w-full"
                [icon]="PrimeIcons.BUILDING"
                label="Soy Empresa"
                (click)="redirectCompanyRegistration()"
        ></button>
      </div>
    </ng-template>

    <ng-template pTemplate="footer">
      <button pButton pRipple
              type="button"
              class="p-button-secondary w-full"
              [icon]="PrimeIcons.ARROW_LEFT"
              label="Regresar al Login"
              (click)="redirectLogin()"
      ></button>
    </ng-template>
  </p-panel>

  <p-panel class="col-12 xl:col-4 lg:col-4 md:col-4 sm:col-12 xl:col-offset-2 lg:col-offset-2 md:col-offset-2">
    <ng-template pTemplate="header">
      <div class="flex align-items-center gap-2">
        <span class="font-bold">{{ authService.system }}</span>
      </div>
    </ng-template>

    <ng-template pTemplate="content">
      <div class="field col-12 text-center">
        <h2>Crear Cuenta</h2>
      </div>

      <div class="field col-12 text-center">
        <button pButton pRipple
                type="button"
                class="p-button-info p-button-lg w-full"
                [icon]="PrimeIcons.USER_PLUS"
                label="Soy Profesional"
                (click)="redirectProfessionalRegistration()"
        ></button>
      </div>
    </ng-template>

    <ng-template pTemplate="footer">
      <button pButton pRipple
              type="button"
              class="p-button-secondary w-full"
              [icon]="PrimeIcons.ARROW_LEFT"
              label="Regresar al Login"
              (click)="redirectLogin()"
      ></button>
    </ng-template>
  </p-panel>
</div>
