body {
  background-image: url("/assets/images/pages/auth/login/c.webp");
  //background-repeat: no-repeat;
  background-size: cover;
}


.p-panel-content {
  opacity: 90%;
}

.p-panel-header {
  opacity: 70%;
}

.p-panel-footer {
  opacity: 80%;
}

.panel {
  position: absolute;
  bottom: 50%;
  width: 100%;
}
